modal_overlay {
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 96px; /* netsuite's header height */
    width: 100%;
    height: 100%;
    background-color: rgba(122, 122, 122, 0.6);
    padding-top: 10vh;
    transition: visibility 0.3s linear 0s, opacity 0.3s linear 0s;
    visibility: hidden;
    opacity: 0;
}

modal {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: 75%;
    background-color: rgb(254, 254, 254);
    margin: 0px auto;
    border: 2px solid #cccccc;
    width: fit-content;
    overflow: auto;
    border-radius: 10px;
    min-width: 400px;
}

modal_content {
    padding: 10px 20px;
    font-size: 14px;
    overflow: auto;
}
